body {
  width: 450px;
  margin: auto;
}
.row {
  width: 450px;
  display: flex;  
}

.column {
  Flex: 50%
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  height: 450px;
}

.square {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  box-sizing: border-box;

}
.mole {
  background-image:url("Mole.png");
  background-size: cover;
}
